<div class="container">
  <h2 class="text-center">Add Book</h2>
  <div class="row">
    <div class="col-9">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" [(ngModel)]="book.title" class="form-control">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            name="description"
            [(ngModel)]="book.description"
            class="form-control"
            rows="4">
  </textarea>
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" id="author" name="author" [(ngModel)]="book.author" class="form-control">
        </div>

        <div class="form-group">
          <label for="image">Image name</label>
          <input type="text" id="image" name="image" [(ngModel)]="book.image" class="form-control">
        </div>

        <div class="form-group">
          <label for="isbn">ISBN</label>
          <input type="text" id="isbn" name="isbn" [(ngModel)]="book.isbn" class="form-control">
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" id="price" name="price" [(ngModel)]="book.price" class="form-control">
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select id="category" name="category" [(ngModel)]="book.category" class="form-control">
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
          </select>
        </div>

        <div class="text-center mt-2">
          <button type="submit" class="btn btn-primary m-1" [disabled]="validateBook()">Save Changes</button>
          <button type="button" (click)="onCancel()" class="btn btn-dark">Cancel</button>
        </div>
      </form>
    </div>
    <div class="col-3 align-content-center">
      <img [src]="book.image" alt="{{book.title}}" class="img-fluid">
    </div>
  </div>
</div>
